.modal{
    width: 75%!important;
    height: 80%!important;
    margin-left: 400px;
    background-color: red;
    margin-top: 270px;
    border-radius: 10px;

}
.close2{
    color: orangered;
    text-align: center;
    cursor: pointer;
}

nav ul li a {
    color: black;
}
