.responsive-table{
    background-color: rgba(174, 194, 255, 0.644);
    
    }
    
    
    .cont321{
        background-color: #ffffff;
        border-radius: 10px;
        
       
    }

    
    .add23{
        padding-right: 980px;
        padding-left: 30px;
        padding-bottom: 10px;
        height: 30px;
      
        
        
    }
    .cov134 {
        width: 1000px;
        height: 100px;
        margin-left: 330px ;
        margin-top: 70px ;
        border-radius: 10px;
        margin-bottom: 20px;
       
    }