.responsive-table{
background-color: rgba(174, 194, 255, 0.644);

}


.cont3{
    background-color: #ffffff;
    border-radius: 10px;
    
   
}
.cont13{
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 50px;
    width: 1000px;
}

.add2{
    padding-right: 980px;
    padding-left: 30px;
    padding-bottom: 10px;
    height: 30px;
  
    
    
}
.cov13 {
    width: 1000px;
    height: 100px;
    margin-left: 330px ;
    margin-top: 70px ;
    border-radius: 10px;
   
}
