.responsive-table{
    background-color: rgba(174, 194, 255, 0.644);
    
    }
    
    
    .cont11234{
        background-color: #ffffff;
        border-radius: 10px;
      
       
    }
    .cont1234{
        background-color: #ffffff;
        border-radius: 10px;
        padding-top: 10px;
        margin-top: 50px;
        width: 1000px;
    }
    
    .add1234{
        padding-right: 980px;
        padding-left: 30px;
        padding-bottom: 10px;
        height: 30px;
      
        
        
    }
    .cov1234 {
        width: 1000px;
        height: 100px;
        margin-left: 330px ;
        margin-top: 70px ;
        border-radius: 10px;
        margin-bottom: 20px;

       
    }
    