.divbtn{
    padding-top: 200px;
    padding-left: 600px;
    
}
.btn1{
    margin-top: 20px ;
    margin-bottom: 50px;
    width: 200px;
    height: 60px;
}
.btn2{
    width: 200px;
    height: 60px;
}